* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: Arial, Helvetica, sans-serif;
}

/* 
    Từ ngoài vào trong
    từ trên xuống dưới 
    từ tổng quan tới chi tiết
*/
/* 
    Vị trí 
    kích thước 
    màu sắc
    kiểu dang (kiểu chữ, tròn, vuông, ...)

*/

#main {}

#header {
    position: fixed;
    top: 0%;
    right: 0;
    left: 0%;
    height: 46.5px;
    background-color: black;
    z-index: 1;
}

#nav {
    display: inline-block;
}

#nav>li {
    display: inline-block;
}

#nav li {
    position: relative;
}

#nav>li>a {
    color: white;
    text-transform: uppercase;

}

#nav li a {
    display: block;
    padding: 0 24px;
    line-height: 46.5px;
    text-decoration: none;
}

#nav>li:hover>a,
#nav .subnav li:hover a {
    background-color: gainsboro;
    color: black;
}

#nav .subnav {
    display: none;
    position: absolute;
    background-color: white;
    list-style-type: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

#nav li:hover .subnav {
    display: block;
}

#nav .subnav a {
    padding: 0 12px;
    color: black;
    line-height: 38.5px;
    min-width: 160px;
}

#header .search-btn:hover {
    background-color: red;
    cursor: pointer
}

#header .search-btn {
    float: right;
}

#header .fa-solid.fa-magnifying-glass {
    color: white;
    line-height: 46.5px;
    padding: 0 24px;
}

#slider {
    position: relative;
    margin-top: 46.5px;
    padding-top: 50%;
    background: url(/asset/img/slider/slider1-slyer.jpg) top center / cover no-repeat;
}

#slider .text-content {
    padding: 32px 16px;
    position: absolute;
    bottom: 0%;
    color: white;
    text-align: center;
    /* left: 50%;
    transform: translateX(-50%); */
    width: 100%;
    
}
#slider .text-heading {
    margin: 10px 0;
    font-size: 24px;
    font-weight: 500;
}
#slider .text-description {
    margin: 15px 0;
    font-size: 15px;
    font-weight: 400;
}

#content {

}

#footer {}